<html>

<head>
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/home.css">
</head>

<body> 

    <div id="main-container">

    <h1 style="text-align: center; ">TODO App</h1>

    <main>

        <form id="create-form" action="/create-todo" method="POST">


            <div class="desc-container">
                <label for="description" class="disp-blk">Description</label>
                <input id="description" name="desc" placeholder="What do you need to do?" required>
            </div>

            <div id="dateAndCategory">

                <div id="leftD">
                    <label for="priority">Category</label>
                    <select id="priority" name="category">
                        <option disabled selected>Choose a category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div id="rightD">
                    <label for="due-date-input">Due date</label>
                    <input id="due-date-input" style="border: none;" type="date" name="due_date" >
                </div>

            </div>

            <div id="buttonsMain">
                
                <button type="submit">
                    <i class="fas fa-plus"></i> Add task
                </button>
                
                <button type="button" onclick="submitForm()">
                    <i class="far fa-trash-alt"></i> Delete task
                </button>

            </div>

        </form>

        <div id="tasks-container">
            
            <form id="delete-form" action="/delete-todo" method="POST">

                <% for(let t of todo_list) { %>
                
                <div id="taskn">

                    <div class="item-details">
                        <input type="checkbox" value="<%= t._id %>" name="_id" onchange="toggleCheckbox(this)" >
                        
                        <span id="span-desc">
                            <%= t.desc %>
                        </span>
                        
                        <% if(t.due_date) { %>

                        <span class="disp-blk">
                            <i class="far fa-calendar-alt"></i>
                            <%= t.due_date.toString().substring(4,7)%>
                            <%= t.due_date.getDate()%>,
                            <%= t.due_date.getFullYear()%>
                        </span>

                        <% } else { %>

                            <span class="disp-blk">
                                <i class="far fa-calendar-alt"></i>
                                NO DEADLINE
                            </span>

                        <% } %>

                    </div>

                    
                    <div class="category-tile"> 
                        <%= t.category.toUpperCase() %>
                    </div>

                </div>

                <% } %>

            </form>

            <% if(is_empty) { %>
                <p style="text-align: center;">All tasks completed :) YAY!!</p>
            <% } %>

        </div>

    </main>

    <script src="js/home.js">
    </script>

    </div>

</body>

</html>